/* :root {
    --purple: #52375A;
    --green: #819780;
    --bone: #D9CAB3;
    --gray: #545454;
}

body, html {
    background-color: var(--gray) !important;
}

.card-body {
    background-color: var(--green);
} */


