#navbar {
    background-color: black;
}

#buttons {
    font-size: 150%;
    color: white;
    padding-left: 5em;
    padding-right: 5em;
}

a.navbar-brand {
    font-size: 200%;
    color: white;
    padding-left: 2em;!important;
}

a.nav-link {
    color: white;
    padding-left: 5em!important;
}