---
layout: default
---
<style>
  #carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:100vh;
  }

  #carouselHero .carousel-item:before {
    content: '';
    display: block;
    position: absolute;
    background-image:
            linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)
            );
    width: 100vw;
    top: 0;
    height: 100vh;
  }
</style>

<div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/pictures/math.jpg" class="d-block w-100" alt="Image Description">
      <div class="carousel-caption d-none d-md-block">
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/pictures/arcade.jpg" class="d-block w-100" alt="POW Logo">
      <div class="carousel-caption d-none d-md-block">
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/pictures/playstation.jpg" class="d-block w-100" alt="POW Logo">
      <div class="carousel-caption d-none d-md-block">
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/pictures/music.jpg" class="d-block w-100" alt="POW Logo">
      <div class="carousel-caption d-none d-md-block">
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Recent Posts</h2>
    <ul class="post-list">
      <div class="container py-3" style="margin: auto;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {%- for post in site.posts limit:3-%}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ post.url | relative_url }}" class="stretched-link" style="color: #000000; text-decoration: none;">
                    {{ post.title | escape }}
                  </a>
                </h4>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: date_format }}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </ul>
  {%- endif -%}
</div>


